# PYTHON TEMPLATE
# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# IDEs
.vscode/
.idea/

# OS-specific
.DS_Store

# Logs and temp files
*.log
*.tmp

# MY ADDITIONS

# For API key
.env

# For research paper data
data/
chi_23_coding.csv
chi_24_coding.csv
chi_25_coding.csv
CLAUDE.md
edit_ideas.md
