# PYTHON TEMPLATE
# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# IDEs
.vscode/
.idea/

# OS-specific
.DS_Store

# Logs and temp files
*.log
*.tmp

# MY ADDITIONS

# For API key
.env

# For research paper data
data/parsed_papers
data/sectioned_papers
data/vector_store
